@import url("https://use.typekit.net/jwo3hsk.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.primary {
	color: #f8f7d3;
}
.secundary {
	color: #fff;
}
.color-1 {
	color: #ff9900;
}
.color-2 {
	color: #f67305;
}
.color-3 {
	color: #e83b0a;
}
.color-4 {
	color: #c20c0e;
}
.primary-bg {
	background-color: #f8f7d3;
}
.secundary-bg {
	background-color: #fff;
}
.color-1-bg {
	background-color: #ff9900;
}
.color-2-bg {
	background-color: #f67305;
}
.color-3-bg {
	background-color: #e83b0a;
}
.color-4-bg {
	background-color: #c20c0e;
}
/* __________________________________________________________________________ */
.font1 {
	font-size: 4rem;
}
.header-info h1 {
	font-size: 8vw;
}
.underline {
	text-decoration: underline;
}
.card p {
	font-size: 2rem;
	color: #fff;
	margin: 0;
}
.main_info_summary h3 {
	font-size: 1.25vw !important;
	font-weight: bold;
	margin: 0;
}
.main_info_summary p {
	font-size: 1vw !important;
}
.routes h1,
.routes h2,
.routes p {
	color: #fff;
}
h1 {
	font-family: lft-etica, sans-serif;
	font-weight: 700;
	font-size: 2rem !important;
	font-weight: bold;
	margin: 0;
}
h2 {
	font-size: 1.5rem !important;
	margin: 0;
	font-family: lft-etica, sans-serif;
	font-weight: 400;
	font-style: normal;
}
p {
	font-size: 1.25vw !important;
	font-family: lft-etica, sans-serif;
	font-weight: 400;
	font-style: normal;
}
hr {
	height: 2.5px;
	color: black;
	background-color: black;
	width: 100%;
	border-width: 0;
}
.fa-navicon {
	display: block;
}
#nav-mobile .fa-remove {
	display: none;
}
.fa-navicon,
.fa-remove,
.fa-angle-up,
.fa-angle-down {
	font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
	p {
		font-size: 5vw !important;
	}
	a {
		font-size: 5vw a !important;
		text-decoration: none;
	}
	.header-info h1 {
		font-size: 15vw;
	}
	.header-info h3 {
		font-size: 5vw;
	}
	.all-routes h3 {
		color: #000;
		font-size: 10vw;
		font-weight: bold;
		margin: 0;
	}
}
