h3 {
	font-size: 1.5vw;
}
nav {
	background-color: #fff;
}
.title-card {
	width: 100%;
	top: 0;
	position: fixed;
	z-index: -10;
	object-fit: cover;
}
.dark {
	opacity: 30%;
}
.exclusion {
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0;
	object-fit: cover;
}
.header {
	justify-content: center;
	vertical-align: middle;
	display: grid;
	position: relative;
}
.header-info {
	vertical-align: middle;
	justify-self: center;
	text-align: center;
	position: absolute;
	height: 50%;
	padding-top: 10%;
	max-width: 70%;
}
.mobile {
	display: none;
}
/* _______________________________________________________________________________________________________ */
.main_img {
	width: 32.5%;
	border-radius: 35px;
}
.main_info {
	flex-grow: 1;
}
.all-routes {
	width: 100%;
}
.routes {
	height: 65vh;
	width: 25%;
	border: red 5px solid;
	border-radius: 35px;
	position: relative;
}

.route-img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	position: absolute;
	object-fit: cover;
	z-index: 0;
}
.route-info {
	text-align: center;
	z-index: 1;
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 10%;
}
.route-info h1 {
	font-size: 4vw;
}
.route-info h2 {
	font-size: 2vw;
	margin-top: -25%;
}
.sightseeing p {
	margin: 0;
	font-size: 1.5vw;
}
.route-beschrijving {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	opacity: 0;
}
.route-beschrijving:hover {
	animation-name: change-opacity;
	animation-duration: 1s;

	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.beschrijving-info {
	position: relative;
	padding: 10%;
}
@keyframes change-opacity {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* _____________________________________________________________ */
.icon {
	object-fit: contain;
	margin-right: 0.5vw;
	width: 1vw;
}
.rule p {
	margin: 1vh;
	font-size: 1rem;
}
.small-font {
	font-size: 0.75rem;
}
.rule-align {
	width: 50vw;
}
.rules-padding-top {
	padding: 7vh 14vh 2.5vh 14vh;
}
.rules-padding-bottom {
	padding: 2.5vh 14vh 7vh 14vh;
}
.btn-contact {
	padding: 2.5vh 5vw;
	border-radius: 15px;
	border: none;
	margin: 5vh 0vh 0vh 0vh;
	font-size: 1.5rem;
}
.btn-contact:hover {
	animation-name: scale-down-center;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
/* ___________________________________________________________________ */
.e-scooter {
	width: 60%;
	border: red 5px solid;
	border-radius: 35px;
	position: relative;
}
.scooter-info {
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 5%;
	color: #fff;
}
.scooter-info h1 {
	font-size: 2.75vw;
	text-align: center;
}
.scooter-info p {
	font-size: 2vw;
	font-weight: bold;
	text-decoration: underline;
}
.scooter-info li {
	font-size: 1.75vw;
}
.scooter-info ul {
	margin-left: 0;
}
.scooter-img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	position: absolute;
	object-fit: cover;
	z-index: 0;
	top: 0;
}
.smaller-header {
	font-size: 7vw !important;
}
/* ____________________________________________________________________________ */
.combo {
	text-align: center;
}
.combo h2 {
	font-size: 2.5rem;
	font-weight: bold;
}
.combinations {
	width: 100%;
	height: max-content;
	margin: 5vh 0;
}
.combi {
	width: 40%;
	border: red 5px solid;
	border-radius: 35px;
	position: relative;
	max-height: 50vh;
	height: 40vh;
}
.combi-info {
	align-self: center;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 5%;
	color: #fff;
	align-items: center;
	text-align: center;
}
.combi-info h1 {
	font-size: 2.75vw;
	text-align: center;
}
.combi-info p {
	font-size: 2vw;
	font-weight: bold;
	text-decoration: underline;
}
.combi-info li {
	font-size: 2vw;
	list-style: none;
	margin-bottom: 0.5rem;
}
.combi-info ul {
	margin-left: 0;
	padding: 0;
}
.combi-img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	position: absolute;
	object-fit: cover;
	z-index: 0;
	top: 0;
}
.plus {
	font-size: 5vw;
	margin: 0;
	align-self: center;
}
@media screen and (max-width: 768px) {
	.title-card {
		height: 90vh;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.exclusion {
		top: 8vh;
		width: 100%;
		position: relative;
	}
	.header {
		justify-content: center;
		vertical-align: middle;
		display: grid;
		position: relative;
		height: 90vh;
		margin-bottom: 7.5vh;
	}
	.header-info {
		height: 50%;
		padding-top: 50%;
		max-width: 80%;
	}

	.all-routes {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.all-routes h3 {
		margin-bottom: 5vh;
	}
	.routes {
		height: 32.5vh;
		width: 100%;
		margin-bottom: 5vh;
	}
	.route-info {
		text-align: center;
		padding: 5% 2.5% 0 2.5%;
	}
	.route-info h1 {
		font-size: 12.5vw;
	}
	.route-info h2 {
		font-size: 5vw;
		margin-top: 0;
	}
	.route-info p {
		font-size: 4.5vw;
	}
	.sightseeing p {
		margin: -2.5% 0 0 0;
		font-size: 7.5vw;
	}

	.route-beschrijving {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		opacity: 0;
	}
	.beschrijving-info {
		position: relative;
		padding: 10%;
	}
	.beschrijving-info h1 {
		font-size: 7.5vw;
	}
	.beschrijving-info p {
		font-size: 3.5vw;
	}
	.btn-contact {
		margin-top: 0vh;
		padding: 1.5vh 15vw;
	}
	.icon {
		object-fit: contain;
		margin-right: 0.5vw;
		width: 5vw;
	}
	.rule p {
		margin: 1vh;
		font-size: 1rem;
	}
	.small-font {
		font-size: 0.75rem;
	}
	.rule-align {
		width: 50vw;
	}
	.rules img {
		object-fit: contain;
	}
	.rules {
		margin-top: 5vh;
	}
	.e-scooter {
		width: 100%;
		margin-bottom: 5vh;
	}
	.scooter-info {
		align-items: center;
	}
	.scooter-info h1 {
		font-size: 12vw;
	}
	.scooter-info p {
		font-size: 7.5vw;
	}
	.scooter-info li {
		font-size: 5vw;
	}
	.scooter-info div {
		flex-direction: column;
	}
}
